#helper-setting-button {
  position: fixed;
  right: 6px;
  top: 54px;
  cursor: pointer;
  user-select: none;
  width: 80px;
  height: 40px;
  line-height: 40px;
  text-align: center;
  color: #FFFFFF;
  background: #FF4400;
  border-radius: 5px;
}

#helper-setting {
  position: fixed;
  top: 0px;
  left: 0px;
  width: 100vw;
  height: 100vh;
  z-index: 999999;
  background: rgba(0, 0, 0, 0.5);
  font-family: 'Hiragino Sans GB', 'Lantinghei SC', 'Microsoft Yahei', SimSun;
}

#helper-setting .helper-setting-form {
  width: 500px;
  height: 300px;
  position: relative;
  top: 50%;
  margin: 0px auto;
  margin-top: -150px; 
  background: #FFFFFF;
  border-radius: 5px;
  box-sizing: border-box;
  padding: 20px;
}

#helper-setting .helper-setting-form .helper-setting-form-title {
  width: 100%;
  height: 60px;
  text-align: center;
  font-size: 32px;
  color: #000000;
  line-height: 60px;
  margin-bottom: 20px;
}

#helper-setting .helper-setting-form .helper-setting-form-item {
  margin-bottom: 20px;
  text-align: center;
}

#helper-setting .helper-setting-form .helper-setting-form-item label {
  width: 80px;
  height: 40px;
  font-size: 24px;
  line-height: 40px;
  color: #FF4400;
}

#helper-setting .helper-setting-form .helper-setting-form-item input {
  width: 330px;
  height: 40px;
  font-size: 24px;
  line-height: 40px;
  padding: 5px;
  box-sizing: border-box;
}

#helper-setting .helper-setting-form .helper-setting-form-item .helper-setting-form-item-interval {
  width: 160px;
}

#helper-setting .helper-setting-form .helper-setting-form-item .helper-setting-form-item-button {
  display: inline-block;
  width: 80px;
  height: 40px;
  line-height: 40px;
  text-align: center;
  color: #FFFFFF;
  border-radius: 5px;
}

#helper-setting-save-button {
  margin-right: 30px;
  background: #FF4400;
}

#helper-setting-cancel-button {
  background: #B0B0B0;
}
